langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
streamlit
duckduckgo-search
arxiv
wikipedia
bs4
validators
pypdf
pymupdf
google-search-results
youtube_search
unstructured
pytube
sentence_transformers
huggingface_hub
pandas
numpy
numexpr
python-dotenv
ipykernel
pydantic
openai
ddgs